@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Checking github push using webhook but republishing not working. Webhook not working as expected. So no worries lets test atlest changes are getting deployed using jenkisn or not.</p>
</div>
